In [2]:
import pandas as pd

In [5]:
web1 = pd.read_csv('df_final_web_data_pt_1.txt', delimiter=',')

# Save the DataFrame to a CSV file
web1.to_csv('web_data_1.csv', index=False)
            
web2 = pd.read_csv('df_final_web_data_pt_2.txt', delimiter=',')

# Save the DataFrame to a CSV file
web2.to_csv('web_data_2.csv', index=False)

In [6]:
web2.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

In [8]:
web1['client_id'].value_counts()

client_id
2128341    84
9800867    66
9638063    64
2313292    61
5165430    60
           ..
3939374     1
8477848     1
2606984     1
5141668     1
1266421     1
Name: count, Length: 58391, dtype: int64

In [9]:
web2['client_id'].value_counts()

client_id
5574879    104
2274658     90
5951379     80
1952790     80
3545814     72
          ...
4220991      1
7506474      1
7414592      1
1156842      1
674799       1
Name: count, Length: 67430, dtype: int64

In [11]:
#checking if there are shared values in both datasets for the client_id column 
client_id_check = 'client_id'

shared_values = web1[client_id_check].isin(web2[client_id_check])

if shared_values.any():
    print("There are shared values between the datasets in the column", client_id_check)
else: 
    print("There are no shared values between the datasets in the column", client_id_check)

In [27]:
#merging the datasets on client_id column without the values overlapping, just placed next to each other 
# total_web = pd.merge(web1, web2, on='client_id', how='outer')

total_web = pd.concat([web1,web2])

In [28]:
total_web

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [29]:
total_web['process_step'].value_counts()

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

In [30]:
total_web['client_id'].value_counts()

client_id
5574879    111
2274658     90
2128341     84
5951379     81
1595223     81
          ...
656715       1
2066750      1
1283050      1
6963245      1
674799       1
Name: count, Length: 120157, dtype: int64